<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>SushiStor</name>

<description>
my sushi app
</description>
<icon src="icons/hdpi/icon.png" />
<gap:splash src="icons/hdpi/Loading.png" />
<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />

<author href="https://example.com" email="you@example.com">
qasmaoui Youssef
</author>

</widget>
